<div class="wb-frmvld">
  <form action="#" method="get" id="validation">
    <h2>{{ site.AdminCodeDesc[page.lang] }}</h2>
      <div class="form-group">
        <label for="adminCode" class="required">{{ site.AdminCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <select class="form-control" id="adminCode" name="adminCode" required="required">
          <option value="">&nbsp;</option>
          <optgroup label="Federal">
            {% for org in site.data.administrations.federal %}
              {% if org.name[page.lang] != nil %}
                <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
          <optgroup label="Provincial">
            {% for org in site.data.administrations.provincial %}
              {% if org.name[page.lang] != nil %}
                <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
          <optgroup label="Municipal">
            {% for org in site.data.administrations.municipal %}
              {% if org.name[page.lang] != nil %}
                <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
        </select>
      </div>

    <h2>{{ site.ContactCodeDesc[page.lang] }}</h2>
      <div class="form-group">
        <label for="emailContact" class="required" > {{ site.EmailContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="emailContact" name="emailContact" type="email" required="required" />
      </div>

    <h2>{{ site.ReferencesURL[page.lang] }}References</h2>
      <div class="form-group">
        <label for="enReferencesURL" class="required">{{ site.ReferencesURLEN[page.lang] }}EN Reference URL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="enReferencesURL" name="enReferencesURL" type="url"required="required" />
      </div>
      <div class="form-group">
        <label for="frReferencesURL" class="required">{{ site.ReferencesURLFR[page.lang] }}FR Reference URL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="frReferencesURL" name="frReferencesURL" type="url"required="required" />
      </div>
      <div class="form-group">
        <label for="enReferencesName" class="required">{{ site.ReferencesNameEN[page.lang] }}EN Reference Name <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="enReferencesName" name="ReferencesName" type="text"required="required" />
      </div>
      <div class="form-group">
        <label for="frReferencesName" class="required">{{ site.ReferencesNameFR[page.lang] }}FR Reference Name <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="frReferencesName" name="ReferencesName" type="text" required="required" />
      </div>

    <h2>{{ site.Status[page.lang] }}</h2>
      <div class="form-group">
        <label for="status" class="required">{{ site.statusValue[page.lang] }}Status description <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="status" name="status" type="text"required="required" />
      </div>

    <h2>{{ site.DateCodeDesc[page.lang] }}</h2>
      <div class="form-group">
        <label for="dateCreated" class="required">{{ site.CodeCreated[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
        <input class="form-control" id="dateCreated" name="dateCreated" type="date" data-rule-dateISO="true" required="required" />
      </div>
      <div class="form-group">
        <label for="dateLastUpdated" class="required">{{ site.LastUpdatedCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
        <input class="form-control" id="dateLastUpdated" name="dateLastUpdated" type="date" data-rule-dateISO="true" required="required"/>
      </div>

    <h2>{{ site.DescriptionCodeDesc[page.lang] }}</h2>
      <div class="form-group">
        <label for="enDescription" class="required">{{ site.DescriptionCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="enDescription" name="enDescription" type="text" required="required"/>
      </div>
      <div class="form-group">
        <label for="frDescription" class="required">{{ site.DescriptionCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="frDescription" name="frDescription" type="text" required="required"/>
      </div>

      <h2>{{ site.NameCodeDesc[page.lang] }}</h2>
      <div class="form-group">
        <label for="enProjectName" class="required">{{ site.NameCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="enProjectName" name="enProjectName" type="text" data-rule-alphanum-space-en-fr="true" required="required"/>
      </div>
      <div class="form-group">
        <label for="frProjectName" class="required">{{ site.NameCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="frProjectName" name="frProjectName" type="text" data-rule-alphanum-space-en-fr="true" required="required"/>
      </div>

    <h2>{{ site.specURL[page.lang] }}SpecURL</h2>
      <div class="form-group">
        <label for="enSpecURL" class="required">{{ site.specURLEN[page.lang] }}Spec URL EN <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="enSpecURL" name="enSpecURL" type="url" required="required"/>
      </div>
      <div class="form-group">
        <label for="frSpecURL" class="required">{{ site.specURLFR[page.lang] }}Spec URL FR <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="frSpecURL" name="frSpecURL" type="url" required="required"/>
      </div>

    <h2>{{ site.StandardCode[page.lang] }}Standard Code</h2>
      <div class="form-group">
        <label for="standardCode" class="required">{{ site.StandardCodeValue[page.lang] }}Standart Code description <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="standardCode" name="standardCode" type="text" required="required" />
      </div>

    <h2>{{ site.StandardsOrg[page.lang] }}Standards Organization</h2>
      <div class="form-group">
        <label for="standardsOrg" class="required">{{ site.standardsOrgValue[page.lang] }}Standards Organization description <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="standardsOrg" name="standardsOrg" type="text" required="required" />
      </div>

    <h2>{{ site.TagsCodeDesc[page.lang] }}</h2>
      <div id="tags">
        <div id="tagsEN" class="form-group">
          <div>
            <div class="control-group input-group col-xs-2" style="margin-top:10px" >
              <input type="text" id="tagEN" name="tagEN" class="form-control" required="required">
              <div class="input-group-btn">
                <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </div>
           </div>
        </div>
        <div id="tagsFR" class="form-group">
          <div>
            <div class="control-group input-group col-xs-2" style="margin-top:10px" >
              <input type="text" id="tagFR" name="tagFR" class="form-control" required="required">
              <div class="input-group-btn">
                <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </div>
           </div>
        </div>
      </div>

    <h2>{{ site.InformationAboutSubmitter[page.lang] }}</h2>
      <div class="form-group">
        <label for="submitterUsername" class="required">{{ site.NameContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="submitterUsername" name="submitterUsername" type="text" pattern="[A-Za-z\s]" required="required"/>
      </div>
      <div class="form-group">
        <label for="submitterEmail" class="required">{{ site.EmailContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
        <input class="form-control" id="submitterEmail" name="submitterEmail" type="email" required="required"/>
      </div>

    <button id="prbotSubmitStandards" type="button" class="btn btn-primary">Submit</button>
    <button id="codeFormReset" type="reset" class="btn btn-default">Reset</button>

    <div style="margin-top: 10px">
      <div id="prbotSubmitAlertInProgress" class="alert alert-warning" style="display: none">
        <b>{{ site.FormSubmissionInProgress[page.lang]}}</b>
      </div>
      <div id="prbotSubmitAlertFail" class="alert alert-danger" style="display: none">
        <b>{{ site.FormSubmissionFail[page.lang]}}</b>
      </div>
      <div id="prbotSubmitAlertSuccess" class="alert alert-success" style="display: none">
        <b>{{ site.FormSubmissionSuccess[page.lang]}}</b>
      </div>
    </div>
  </form>
</div>
